@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arima Madurai', cursive;
}
body{
    background-color: black;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 8%;
    padding-right: 8%;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    transition:0.3s;
}
nav ul li:hover{
  translate:0px -10px;

}
nav ul li a{
    color:white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    transition:1s;

}
nav ul li a:hover{
    color:#f9004d;


}
a{
    text-decoration: none;
    
}
.container p{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    justify-content: center;
    
}
.container{
    width:100%;
    height:100vh;
}
.container h2{
  font-size: 3.8em;
  font-weight: bold;
}

#ABC h1{
    display: block;
    width: fit-content;
    font-size: 7rem;
    position: relative;
    color: rgb(251, 247, 247);
}
.name{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home{
  width:100%;
  height:100vh;
  color: #fff;
  background-image: url(Nizzu.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#home .container p{
  top:155%;
  position: absolute;
  right: 60%;  
  font-size: 25px;
  font-weight: 800;
  padding-left: 90px;
}
span{
    color: #f9004d;
}
#Hobbies {
  padding: 50px 0;
}

#Hobbies h2 {
  text-align: center;
  margin-bottom: 100px;
}

#Hobbies ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

#Hobbies ul li {
  display: inline-block;
  font-size: 20px;
  margin: 0 20px;
}

.hobbies-section {
  display: flex;
  justify-content: space-between;
}

.hobby-box {
  width: 100%;
  height:580px;
  background: linear-gradient(90deg, rgb(0, 122, 255), rgb(98, 0, 234));
  border: 3px solid rgb(204, 204, 204);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hobby-box h3 {
  margin-top: 24px;
  font-size: 20px;
  display: flex;
  

}

.hobby-box img {
  width: 100%;
  height: 54%;
  object-fit: cover;
  border-radius: 10px;
  
}
.hobbies-section .hobby-box:nth-child(4) img{
  height: 54%;
 
  
}
.hobbies-section .hobby-box:nth-child(4) h3{
  margin-top: 48px;
}



.hobby-box p {
  margin-top:20px;
 font-weight: bold;
  color: rgb(2, 0, 7);
  transition: color 0.2s;
  cursor: pointer;
}

.hobby-box p:hover {
  color:  rgb(247, 246, 242);
}

#about .container h2{
    writing-mode: vertical-rl;
    justify-items: center;
    letter-spacing:15px;
    font-size: 50px;
    float:left;
    margin-top: 5em;
    margin-left: 0;

}
#contact .container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
#contact h2{
 margin-bottom:140px;
}

#about .container p{
    position: absolute;
    top:236%;
    left: 60%; 
    font-size: 25px;
    font-weight: 800;
    padding-right: 90px;
}
#about{
    width:100%;
    height:100vh;
    color: #fff;
    background-image: url(nijal.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
  }



  
  h1 {
    position: relative;
    font-size: bold;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(0, 122, 255), rgb(98, 0, 234));
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius:15px;
    animation: animate 3s linear infinite;
    
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }

  }
  .second h1{
    animation: animatee 3s ease-in infinite; 
  }
  @keyframes animatee{
    0% {
      background-position: 500%;
    }
    100% {
      background-position: -500%;
    }

  }

h2 {
  text-transform: uppercase;
  animation: glow 1s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    color: #FFF;
    text-shadow: 0 0 10px #0652DD, 
             0 0 50px #0652DD,
             0 0 100px #0652DD;
  }
  
  10%, 90% {
    color: #111;
    text-shadow: none;
  }
}

.text-container > span:nth-child(2) {
  animation-delay: 0.25s;
}
.text-container > span:nth-child(3) {
  animation-delay: 0.5s;
}
.text-container > span:nth-child(4) {
  animation-delay: 0.75s;
}
.text-container > span:nth-child(5) {
  animation-delay: 1s;
}
.text-container > span:nth-child(6) {
  animation-delay: 1.25s;
}
.text-container > span:nth-child(7) {
  animation-delay: 1.5s;
}


.skills{
	width: 500px;
	margin: 60px auto;
	color: #fff;
 
}
#skills h2{
  margin-bottom: 140px;
}
#skills .container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}


.bar{
  width:900px;
	background-color: #353b48;
	display: block;
	height: 7px;
	border: 6px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	box-shadow: 0 0 10px whitesmoke;

}

.bar span{ 
	height: 4px;
	float: left;
	background-color: #f9004d;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.html{ 
	width: 80%;
	animation: html 2s;
}

.css{ 
	width: 70%;
	animation: css 2s;
}

.javascript{ 
	width: 10%;
	animation: javascript 2s;
}

.python{ 
	width: 60%;
	animation: python 2s;
}
.java{ 
	width: 50%;
	animation: java 2s;
}

@keyframes html{ 
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

@keyframes css{ 
	0%{
		width: 0%;
	}

	100%{
		width: 70%;
	}
}

@keyframes javascript{ 
	0%{
		width: 0%;
	}

	100%{
		width: 10%;
	}
}

@keyframes python{ 
	0%{
		width: 0%;
	}

	100%{
		width: 60%;
	}
  
}
@keyframes java{ 
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}
.contact-section{
  background: url(https://img.freepik.com/premium-photo/sunset-himalaya-mt-amadablam-everest-base-camp-trekking-solukhumbu-nepal_723123-367.jpg?size=626&ext=jpg&ga=GA1.1.1194841117.1674976642&semt=ais) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.contact-section h2{
  text-align: center;
  color: #ddd;
  font-size: 3.8em;
  font-weight: bold;
}


.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #012e4d;
}
.contact-info p{
font-size: 30px;
}
.contact-info a:hover{
  color: rgb(102, 99, 185);

}