*{
    margin:0;
    padding:0;
}
.main{
    background-color: #ffba00;
    height: 100vh;
}
.main h1{
    padding: 40px;
}
h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 3em;
}
.flex-container{
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.flex-item img{
    margin-top: 50px;
    width:400px;
    height:300px;
    padding-bottom: 20px;

}
.text{
   text-align: center;
}
.flex-item h5{
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 20px;
}
.flex-item h2{
    font-size: 25px;
    
}
.flex-item h6{
    font-size: 18px;
    font-weight: bold;
    
}
@media (max-width: 900px){
    .main{
        height: auto;
    }
    h6{
        margin-bottom: 20px;;
    }


}
@media(max-width:680px){
    .flex-container{
        flex-direction: column;
        align-items: center;
    }
}
